@using Arkanis.Overlay.Infrastructure.Options
@using Microsoft.Extensions.Options
@inject IOptions<InfrastructureServiceOptions> ServiceOptions

<MudExpansionPanels>
    @if (ServiceOptions.Value.HostingMode is HostingMode.Server)
    {
        <MudAlert Severity="@Severity.Error">
            <b>Do not link your personal accounts!</b>
            This is a publicly available and shared instance.
            Other users <u>will be able</u> to use features using linked accounts <u>on behalf of your accounts</u>.
        </MudAlert>
        <MudDivider/>
    }

    <CitizenIdServiceSettingsPanel
        ContentId="@ContentId"/>

    <UexServiceSettingsPanel
        ContentId="@ContentId"/>

    <MudExpansionPanel Class="external-service-config" Disabled>
        <TitleContent>
            <MudStack AlignItems="@AlignItems.Center"
                      Justify="@Justify.Center"
                      Row>
                <div style="height: 32px;">
                    <FleetYardsLogo
                        Style="max-height: 38px;"
                        Class="my-n1"
                        ContentId="@ContentId"/>
                </div>
            </MudStack>
            <MudStack AlignItems="@AlignItems.Center" Row>
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
                <MudSpacer/>
                <MudText Class="text-secondary">
                    Account connection not supported yet
                </MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
        </ChildContent>
    </MudExpansionPanel>

    <MudExpansionPanel Class="external-service-config" Disabled>
        <TitleContent>
            <MudStack AlignItems="@AlignItems.Center"
                      Justify="@Justify.Center"
                      Row>
                <RegolithLogo
                    Style="height: 40px;"
                    Class="my-n1"
                    ContentId="@ContentId"/>
            </MudStack>
            <MudStack AlignItems="@AlignItems.Center" Row>
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
                <MudSpacer/>
                <MudText Class="text-secondary">
                    Account connection not supported yet
                </MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
        </ChildContent>
    </MudExpansionPanel>

    <MedrunnerServiceSettingsPanel
        ContentId="@ContentId"/>

    <MudExpansionPanel Class="external-service-config" Disabled>
        <TitleContent>
            <MudStack AlignItems="@AlignItems.Center"
                      Justify="@Justify.Center"
                      Row>
                <div style="height: 32px;">
                    <DiscordLogo
                        Style="max-height: 26px;"
                        Class="my-n1"
                        ColorVariant="@DiscordLogo.Color.Blurple"
                        ContentId="@ContentId"/>
                </div>
            </MudStack>
            <MudStack AlignItems="@AlignItems.Center" Row>
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
                <MudSpacer/>
                <MudText Class="text-secondary">
                    Account connection not supported yet
                </MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>

@code
{

    [Parameter]
    [EditorRequired]
    public required string ContentId { get; set; }

}
